# Excludes WIP TAS files
*.eep
*.st*
*.savestate
*.m64
*.md

# README
!/README.md
!/README_jp.md

## FFmpeg / AviUtl
*paths.txt
*.avi
*.aup

# Other
*.git
*.obsidian
libsm64

##### TAS files

# Super Mario Integration of Fragments
!/iof/*.m64
!/iof/*.st
!/iof/*.savestate

# Super Mario Endless Journey
!/ej/*.m64
!/ej/*.st
!/ej/*savestate

# Super Mario SezNative Reminisence
!/snr/*.m64
!/snr/*.st
!/snr/*.savestate

# Star Revenge 4.9: Adulterated Reality
!/sr4.9/*/*.m64
!/sr4.9/*/*.st
!/sr4.9/*/*.savestate

# Super Mario 4
!/sm4/*/*.m64
!/sm4/*/*.st
!/sm4/*/*.savestate

# Super Mario and the Cursed Castles
!/smcc/*/*.m64
!/smcc/*/*.st
!/smcc/*/*.savestate

# Phenomena
!/phenomena/*/*.m64
!/phenomena/*/*.st
!/phenomena/*/*.savestate
